@page "/profile"
@inherits ProfileBase
<PageTitle>Profile</PageTitle>

<AuthorizeView Context="authContext">
    <h2 class="header">Profile settings for @authContext.User.FindFirst("email").Value</h2>
    
    <fieldset>
        <legend>Change email</legend>
        <div class="form-info">Change your email by submitting the form below:</div>
        <EditForm Model="changeEmailRequest" OnValidSubmit="ChangeEmail">
            <FluentValidationValidator />
            <ValidationSummary />
            <CustomValidationMessage Message="@emailMessage" />
            <InputTextComponent DisplayName="New email" @bind-Value="changeEmailRequest.NewEmail " />
            <InputTextComponent DisplayName="Password" Id="password-for-email-change" IsPassword="true" @bind-Value="changeEmailRequest.Password" />
            <button id="change-email-btn" class="btn btn-primary" type="submit" disabled="@isBusy">Change email</button>
        </EditForm>
    </fieldset>

    <fieldset>
        <legend>Change password</legend>
        <div class="form-info">Change your password by submitting the form below:</div>
        <EditForm Model="changePasswordRequest" OnValidSubmit="ChangePassword">
            <FluentValidationValidator />
            <ValidationSummary />
            <CustomValidationMessage Message="@passwordMessage" />
            <InputTextComponent DisplayName="Current password" IsPassword="true" @bind-Value="changePasswordRequest.CurrentPassword " />
            <InputTextComponent DisplayName="New password" IsPassword="true" @bind-Value="changePasswordRequest.NewPassword" />
            <InputTextComponent DisplayName="Confirm new password" IsPassword="true" @bind-Value="changePasswordRequest.ConfirmNewPassword" />
            <button id="change-password-btn" class="btn btn-primary" type="submit" disabled="@isBusy">Change password</button>
        </EditForm>
    </fieldset>

    <fieldset>
        <legend>Request personal info</legend>
        <div class="form-info">Download your personal information:</div>
        @if (!string.IsNullOrEmpty(downloadMessage))
        {
            <ul>
                <li class="validation-message">@downloadMessage</li>
            </ul>
        }
        <button id="download-btn" class="btn btn-primary" @onclick="DownloadPersonalInfo">Download</button>
    </fieldset>

    <fieldset>
        <legend>Delete profile</legend>
        <div class="form-info">You can delete your profile by submitting the form below (can't be undone):</div>
        <EditForm Model="deleteProfileRequest" OnValidSubmit="DeleteProfile">
            <FluentValidationValidator />
            <ValidationSummary />
            <CustomValidationMessage Message="@deleteMessage" />
            <InputTextComponent DisplayName="Password" Id="password-for-account-deletion" IsPassword="true" @bind-Value="deleteProfileRequest.Password" />
            <button id="delete-btn" class="btn btn-danger" type="submit" disabled="@isBusy">Delete profile</button>
        </EditForm>
    </fieldset>

</AuthorizeView>


