@page "/register"
<PageTitle>Register</PageTitle>

<fieldset>
    <legend class="legend">Register</legend>
    <EditForm Model="registerRequest" OnValidSubmit="RegisterMethod">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <CustomValidationMessage Message="@Message" ClearMessage="(()=>Message=string.Empty)" />
        <InputTextComponent DisplayName="Email" @bind-Value="@registerRequest.Email" />
        <InputTextComponent DisplayName="Password" IsPassword="true" @bind-Value="@registerRequest.Password" />
        <InputTextComponent DisplayName="Confirm password" IsPassword="true" @bind-Value="@registerRequest.ConfirmPassword" />
        <button class="btn btn-primary" type="submit" disabled="@isBusy">Register</button>
    </EditForm>
</fieldset>
