@inherits CartComponentBase

<table>
    <thead>
        <tr>
            <th>Reorder</th>
            <th>Collected?</th>
            <th class="product-col">Product</th>
            <th class="number-col">Amount</th>
            <th class="number-col">Price</th>
            <th>Total</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td><button id="add-cartproduct-button" type="submit" class="btn btn-success" @onclick="AddNewProduct" @ref="AddProductButton" aria-label="Add product">Add</button></td>
            <td>
                <input id="newproduct-name-input" type="text" list="products" class="form-control" @bind="newProduct.Name" @onfocusout="GetItemPrice" @ref="NewProductNameBox" />
                <datalist id="products">
                    @foreach (var product in ViewModel.StoreProducts.Where(x => !ViewModel.CartProducts.Select(y => y.Name).Contains(x.Name)))
                    {
                        <option value="@product.Name" />
                    }
                </datalist>
            </td>
            <td><input id="newproduct-amount-input"  type="number" step="1" min="1" class="form-control text-center" @bind="newProduct.Amount" /></td>
            <td><input id="newproduct-price-input"  type="number" step="0.01" min="0" class="form-control text-center" @bind="newProduct.UnitPrice" @onfocusout="async () => await AddProductButton.FocusAsync()" /></td>
            <td>@newProduct.Total.ToString("N2")</td>
        </tr>
        @foreach (var (item, index) in ViewModel.CartProducts.Where(x=>!ViewModel.ShowOnlyUncollected || !x.IsCollected).Select((x,i)=>(x,i)))
        {
            @if (item != editingItem)
            {
                <tr style="background-color: @(item.IsCollected ? "lightgray" : "white")" @key=item.Id>
                    <td><button id="reorder-button-@index" class="btn btn-primary @(item==movingItem ? "moving-button" : "")" title="Move" @onclick="()=>Move(item)"><i class="fas fa-retweet"></i></button></td>
                    <td><input id="item-collected-checkbox-@index" type="checkbox" class="checkbox" checked="@item.IsCollected" @onchange=@((e)=>MarkItemCollected(e, item))/></td>
                    <td id="item-name-@index" style="text-decoration: @(item.IsCollected ? "line-through" : "none")">@item.Name</td>
                    <td id="item-amount-@index">@item.Amount</td>
                    <td id="item-unitprice-@index">@item.UnitPrice</td>
                    <td id="item-totalprice-@index">@item.Total.ToString("N2")</td>
                    <td><button id="edit-product-button-@index" class="btn btn-success" @onclick="()=>StartEditItem(item)" aria-label="Edit product" disabled=@item.IsCollected><i class="fas fa-edit"></i></button></td>
                    <td><button id="delete-product-button-@index" class="btn btn-danger" @onclick="()=>RemoveProduct(item)" aria-label="Delete product" disabled=@item.IsCollected>X</button></td>
                </tr>
            }
            else
            {
                <tr style="background-color: @(item.IsCollected ? "lightgray" : "white")" @key=item.Id>
                    <td></td>
                    <td></td>
                    <td id="item-name-@index" style="text-decoration: @(item.IsCollected ? "line-through" : "none")">@item.Name</td>
                    <td><input id="edit-item-amount-input-@index" type="number" step="0.01" min="0" class="form-control text-center" @bind="item.Amount" /></td>
                    <td><input id="edit-item-unitprice-input-@index" type="number" step="0.01" min="0" class="form-control text-center" @bind="item.UnitPrice" /></td>
                    <td id="item-totalprice-@index">@item.Total.ToString("N2")</td>
                    <td><button id="update-product-button-@index" class="btn btn-success" @onclick=@(()=>UpdateCartProduct(item)) aria-label="Submit change" disabled=@item.IsCollected>Submit</button></td>
                    <td><button id="cancel-update-button-@index" class="btn btn-danger" @onclick=@(()=>CancelProductUpdate()) aria-label="Cancel change" disabled=@item.IsCollected>Cancel</button></td>
                </tr>
            }
        }
    </tbody>
</table>