@inherits ShareSelfCartComponentBase

<div class="component">
    <p>Share your cart with these users:</p>
    <EditForm Model="AllowEmail" OnValidSubmit="AddUser">
        <FluentValidationValidator />
        <ValidationSummary />
        <div class="component-row">
            <InputText type="email" required class="mt-0 form-control" @bind-Value="AllowEmail.Email" placeholder="User email"/>
            <button type="submit" disabled="@ViewModel.IsPolling" class="btn btn-success add-user-button">+</button>
        </div>
    </EditForm>
    @for (int i = 0; i < ViewModel.AllowedUsers.Count; i++)
    {
        var index = i;
        <div class="component-row">
            <div class="email-text">@ViewModel.AllowedUsers[index]</div>
            <button class="btn btn-danger delete-user-button" disabled="@ViewModel.IsPolling" @onclick="()=>DeleteUser(ViewModel.AllowedUsers[index])">X</button>
        </div>
    }

    <div>
        <button class="btn btn-primary" @onclick="ShareCart" disabled="@ViewModel.IsPolling">Share your cart</button>
        <button class="btn btn-danger" @onclick=" ExitCart" disabled="@(!ViewModel.IsPolling)">Exit cart</button>
    </div>
</div>



