@page "/profile"
<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value="Profile" />

<AuthorizeView Context="authContext">
    <h2>Welcome @authContext.User.FindFirst("nameid").Value</h2>

    <Modal Header="Message" IsVisible="@(!string.IsNullOrEmpty(Message))" OnModalClose="@(()=>Message=string.Empty)">
        <p>@Message</p>
    </Modal>

    <fieldset>
        <legend>Change password</legend>
        <p>Change your password by submitting the form below:</p>
        <EditForm Model="changePasswordRequest" OnValidSubmit="ChangePassword">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <CustomValidationMessage Message="@passwordMessage" />
            <InputTextComponent DisplayName="Current password" IsPassword="true" @bind-Value="changePasswordRequest.CurrentPassword " />
            <InputTextComponent DisplayName="New password" IsPassword="true" @bind-Value="changePasswordRequest.NewPassword" />
            <InputTextComponent DisplayName="Confirm new password" IsPassword="true" @bind-Value="changePasswordRequest.ConfirmNewPassword" />
            <button class="btn btn-primary" type="submit" disabled="@isBusy">Change password</button>
        </EditForm>
    </fieldset>

    <fieldset>
        <legend>Request personal info</legend>
        <p>Download your personal information:</p>
        @if (!string.IsNullOrEmpty(downloadMessage))
        {
            <ul>
                <li class="validation-message">@downloadMessage</li>
            </ul>
        }
        <button class="btn btn-primary" @onclick="DownloadPersonalInfo">Download</button>
    </fieldset>

    <fieldset>
        <legend>Delete profile</legend>
        <p>You can delete your profile (includes all uploaded pictures, comments and likes) by submitting the form below (can't be undone):</p>
        <EditForm Model="deleteProfileRequest" OnValidSubmit="DeleteProfile">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <CustomValidationMessage Message="@deleteMessage" />
            <InputTextComponent DisplayName="Password" IsPassword="true" @bind-Value="deleteProfileRequest.Password" />
            <button class="btn btn-danger" type="submit" disabled="@isBusy">Delete profile</button>
        </EditForm>
    </fieldset>
</AuthorizeView>


